body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1 {
    font-size: 50px;
}
.name_color {
    color: orange;
}
.main-section {
    display: flex;
    background-image: url('img/top-banner.png');
    background-repeat: no-repeat;
}
.half-width {
    width: 50%;
    padding-left: 2%;
}
.half-width img {
    width: 100%;
}
.hire-btn {
    background-image: linear-gradient(orange, tomato);
    color: wheat;
    font-weight: 700;
    text-decoration: none;
    background-color: orange;
    padding: 10px 40px;
    border-radius: 5px;
}